code {
    font-family: Arial, Helvetica, sans-serif;
}

/* variables de colores duppla*/
:root {
    --color-primario-btn: #6C9FFF;
    --color-fondo: #FFFFFF;
    --color-naranja-duppla: #FF864B;
    --color-verde-duppla: #C5F5CA;
    --color-cimiento-duppla: #0A3323;
    --color-sombra-duppla: #EEEFF3;
    --color-fondo-gris: #F9F9F9;
}

.home-inver {
    width: 1380px;
    height: auto;
    background-color: #F5F5F5;
    
}

.img-user-img {
    width: 120px;
    height: 100px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;

}



.text-btn-home {
    font-family: Arial, Helvetica, sans-serif;
    color: #0A3323;

}
.border-nav{
   
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 1650px;
    
}

.boards{
    margin-top: 100px

}

.title-home {
    margin-top: 40px;
    z-index: 2;
}


.btn-home {
    display: flex;

    align-items: center;
    padding: 16px 48px;
    gap: 4px;


    width: 213px;
    height: 36px;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 40px;   
    z-index: 2;    
    background: #FFFFFF;
    border: 1px solid #0A3323;
    border-radius: 14px;
}


.card-body-docs {
    padding-bottom: 5px;
  
}

.card-docs-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
    margin-bottom: 5px;
  
    padding: 16px 24px;
    gap: 16px;
    height: 80px;
    margin-left: 16px;
    margin-right: 16px;
  
    top: 210px;
    bottom: 100px;
  
    
  }

  .card-text-docs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 12px;
    color: #0A3323;
  }

  .text-space-dropdown {
    margin-right: 50px;
}

.text-blue{
    margin-top: 5px;
    color: #6C9FFF;
    font-family: Arial, Helvetica, sans-serif;
}